@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* :root {
  --white: #FFFFFF;
  --neutral-100: #bfbfbf;
  --neutral-200: #7F7F7F;
  --neutral-300: #3F3F3F;
  --black: #000000;

  --green-primary-100: #77c69f;
  --green-primary-200: #4fb07f;
  --green-primary-300: #195c3b;
  --green-primary-400: #133826;
  --green-primary-500: #0a1f15;

  --green-secondary-100: #39496c;
  --green-secondary-200: #263453;
  --green-secondary-300: #1d263a;
  --green-secondary-400: #111621;
  --green-secondary-500: #0f121a;
} */