.not_found_container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title{
  color: var(--green-primary-400);
  font-size: 30px;
}