.loader_container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 100%;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid var(--green-primary-400);
  border-top: transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading_title{
  color: var(--green-primary-500);
}
