.site_sections_container {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
}

.section_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  gap: 2px;
}

.section_name:hover {
  font-weight: 600;
  color: var(--green-primary-300);
  transition: 0.1s;
}

.section_name:has(.name_underline):hover .name_underline {
  width: 43px;
  border: 2px solid var(--orange-tertiary-300);
  border-radius: 5px;
}
