.theme_button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 2px var(--secondary-500);
  color: var(--black);
  transition: 0.5s;
}

.theme_button:hover{
  background-color: var(--primary-200);
}

.dark.theme_button{
  background-color: var(--primary-200);
  border: solid 2px var(--white);
}

.dark.theme_button:hover{
  background-color: var(--primary-400);
}

.svg {
  height: 27px;
  width: 27px;
  fill: var(--white);
  stroke: var(--white);
  transition: 0.5s;
}

.svg:hover {
  fill: var(--secondary-500);
  stroke: var(--secondary-500);
}

.dark.svg{
  fill: var(--secondary-500);
  stroke: var(--secondary-500);
}

.dark.svg:hover{
  fill: var(--white);
  stroke: var(--white);
}